*{
    margin: 0;
}

@keyframes bodyBG {
    0%   {background-color: rgb(172, 201, 196)}
    55%   {background-color: lightcoral}
    100% {background-color:rgb(172, 201, 196)}
  }

  @keyframes headerTXT {
    0% {color:lightcoral}
    55% {color: rgb(162, 236, 224)}
    100% {color: lightcoral}

}

body{
    
    padding: 0%;
    animation-name: bodyBG;
    animation-duration: 4s;
    background-color: rgb(172, 201, 196);
    
}

header{
    background-image: linear-gradient(to right, blue, turquoise)
    
}
h1{
    display: flex;
    justify-content: center;
    padding: .2em 2em;
    margin: 0%;
    font-family: jazz;
    color: lightcoral;
    text-shadow: 3px 1px rgb(1, 16, 143);
    animation-name: headerTXT;
    animation-duration: 4s;
}

fieldset{
    display: flex;
    flex-direction: column;
    background-image: url(../images/tree-background.jpg)
}
label{
    font-family: jazz;
    padding: .5em 0px;
    font-weight: bold;
    text-shadow: 1px 1px orange;
}


input, textarea, select {
    background-image: linear-gradient(to right, blue, turquoise);
    color: beige;
}
::placeholder{
    color: beige;
}
.button {
    margin-top: .5em;
    text-align: center;
}
.box{
    
}

.box p{
    flex-direction
    text-align: center;
    background-image: linear-gradient(to right, rgb(172, 201, 196), lightcoral);
    color: rgb(172, 201, 196);
    border-radius: 5px;
    margin: .5em ;
}